[&]() -> {{ i18n('classes', 'dict') }}<{{ projection_types[0] }}, {{ projection_types[1] }}> {
	{{ i18n('classes', 'dict') }}<{{ projection_types[0] }}, {{ projection_types[1] }}> __ret;
	for ({{ comp_for }}) {
		{%- set receiver = '__ret' %}
		{%- set key = projection_key %}
		{%- set value = projection_value %}
		{%- if condition %}
		if ({{ condition }}) {
			{% include('comp/_assign_dict.j2') %};
		}
		{%- else %}
		{% include('comp/_assign_dict.j2') %};
		{%- endif %}
	}
	return __ret;
}()
