try {
{%- filter indent('\t') -%}
{%- for statement in statements -%}
{%- if statement %}
{{ statement }}
{%- endif -%}
{%- endfor -%}
{%- endfilter -%}
{%- for catch in catches %}
{{ catch }}
{%- endfor %}
}
