{%- set infer = ('const ' if is_const else '') + 'auto' + ('' if is_addr_p else '&') -%}
{%- if symbols | length == 1 -%}
{{ infer }} {{ symbols[0] }} : {{ iterates }}
{%- else -%}
{{ infer }} [{{ symbols | join(', ') }}] : {{ iterates }}
{%- endif -%}
