{%- if is_initializer -%}
{% if annotation == 'Embed::static' %}static {% endif %}{{ var_type }} {{ receiver }}{% if value %}{{ '{' + value[(var_type | length) + 1:-1] + '}' }}{% endif %};
{%- else -%}
{% if annotation == 'Embed::static' %}static {% endif %}{{ var_type }} {{ receiver }}{% if value %} = {{ value }}{% endif %};
{%- endif -%}
