{%- if value.startswith(var_type + '(') -%}
{% if is_static %}static {% endif %}{{ var_type }} {{ receiver }}{{ '{' + value[(var_type | length) + 1:-1] + '}' }};
{%- else -%}
{% if is_static %}static {% endif %}{{ var_type }} {{ receiver }} = {{ value }};
{%- endif -%}
