{%- if is_initializer -%}
{{ var_type }} {{ receiver }}{{ '{' + value[(var_type | length) + 1:-1] + '}' }};
{%- elif is_static -%}
static {{ var_type }} {{ receiver }} = {{ value }};
{%- else -%}
{{ var_type }} {{ receiver }} = {{ value }};
{%- endif -%}
