{%- if decorators -%}
	{%- include 'decorator.j2' -%}
{%- endif -%}
class {{ class_name }}
{%- if parents %} : public {% for name in parents -%}
		{%- if loop.index0 > 0 %}, {% endif -%}
		{{- name -}}
	{%- endfor -%}
{%- endif %} {
{%- if variables -%}
{%- for variable in variables %}
	{{ variable.access }}: {{ variable.variable_type }} {{ variable.symbol }};
{%- endfor -%}
{{ '\n' }}
{%- endif %}
{%- filter indent('\t') %}
{{ block }}
{%- endfilter %}
};
