{% for variable in decl_variables %}
	{{ variable.variable_type }} {{ variable.symbol }};
{% endfor %}
{% set delimiter = '' %}
{% for decorator in decorators %}
{{ decorator.symbol }}{{ '(' }}{% for argument in decorator.arguments %}{{ delimiter }}{{ argument.value }}{% set delimiter = ', ' %}{% endfor %}{{ ')' }}
{% endfor %}
{% set delimiter = '' %}
class {{ class_name }}{% if parents %} : public {% for name in parents %}{{ delimiter }}{{ name }}{% set delimiter = ', ' %}{% endfor %}{% endif %} {{ '{' }}
	{{ block }}
{{ '}' }};
