auto {{ symbol }} = [{% if binded_this %}this, {% endif %}&](
	{%- for parameter in parameters -%}
		{%- if loop.index0 > 0 %}, {% endif -%}
		{{- parameter -}}
	{%- endfor -%}
) -> {{ return_type }} {
{%- filter indent('\t') %}
{{ block }}
{%- endfilter %}
}
