/**
{%- for line in data.description.split('\n') | select('!=', '') %}{# XXX larkのバグでLONG_STRINGの改行が倍になるため空行を削除 #}
 * {{ line }}
{%- endfor %}
{%- for arg in data.args %}
 * @param {{ arg.name }} {{ arg.description }}
{%- endfor %}
{%- if data.returns.type %}
 * @return {{ data.returns.description }}
{%- endif %}
{%- for r in data.raises %}
 * @throw {{ r.type }} {{ r.description }}
{%- endfor %}
{%- if data.note %}
 * @note {{ data.note }}
{%- endif %}
{%- if data.examples %}
 * @example {{ data.examples }}
{%- endif %}
 */
