{%- for decorator in decorators -%}
{{ decorator }}
{% endfor -%}
{{ access }}: {{ class_symbol }}(
	{%- for parameter in parameters -%}
		{%- if loop.index0 > 1 %}, {% endif -%}
		{%- if parameter != 'self' -%}
			{{- parameter -}}
		{%- endif -%}
	{%- endfor -%}
)
{%- if initializers or super_initializer %}{{ ' : ' -}}
	{%- if super_initializer -%}
		{{- super_initializer.parent }}({{ super_initializer.arguments -}})
	{%- endif -%}
	{%- for this_var in initializers -%}
		{%- if loop.index0 or super_initializer %}, {% endif -%}
		{{- this_var.symbol }}({{ this_var.value -}})
	{%- endfor -%}
{%- endif -%}
{{ ' ' }}{
{%- filter indent('\t') %}
{%- for statement in statements %}
{{ statement }}
{%- endfor %}
{%- endfilter %}
}
