{%- for decorator in decorators -%}
{{ decorator }}
{% endfor -%}
{{ access }}: {{ class_symbol }}(
	{%- for parameter in parameters -%}
		{%- if loop.index0 > 1 %}, {% endif -%}
		{%- if parameter != 'this' -%}
			{{- parameter -}}
		{%- endif -%}
	{%- endfor -%}
)
{%- if initializer %}{{ ' : ' -}}
	{%- for this_var in initializer -%}
		{%- if loop.index0 %}, {% endif -%}
		{{- this_var.symbol }}({{ this_var.value -}})
	{%- endfor -%}
{%- endif -%}
{
{%- filter indent('\t') %}
{{ block }}
{%- endfilter %}
}
