{%- if cmutable == 'CConst' %}
	{{- 'const' }}{{ ' ' }}
{%- endif %}
{%- if cvar_type == 'CP' %}
	{{- type_name }}*
{%- elif cvar_type == 'CSP' %}
	{{- 'std::shared_ptr<' }}{{ type_name }}{{ '>' }}
{%- elif cvar_type == 'CRef' %}
	{{- type_name }}&
{%- elif cvar_type == 'CRaw' %}
	{{- type_name }}
{%- endif %}
