{%- if move == 'New' -%}
new {{ value }}
{%- elif move == 'MakeSp' -%}
std::make_shared<{{ var_type }}>({{ arguments }})
{%- elif move == 'ToActual' -%}
*({{ value }})
{%- elif move == 'ToAddress' -%}
&({{ value }})
{%- elif move == 'UnpackSp' -%}
({{ value }}).get()
{%- else -%}
{{ value }}
{%- endif -%}
