{%- for decorator in decorators -%}
{{- decorator.symbol -}}(
	{%- for argument in decorator.arguments -%}
		{%- if loop.index0 > 0 %}, {% endif -%}
		{{- argument.value -}}
	{%- endfor -%}
)
{% endfor %}
