[&]() -> std::map<{{ projection_types[0] }}, {{ projection_types[1] }}> {
	std::map<{{ projection_types[0] }}, {{ projection_types[1] }}> __ret;
	for ({{ comp_for }}) {
		{%- if condition %}
		if ({{ condition }}) {
			__ret.emplace({{ projection }});
		}
		{%- else %}
		__ret.emplace({{ projection }});
		{%- endif %}
	}
	return __ret;
}()
