{%- if decorators -%}
	{%- include 'decorator.j2' -%}
{%- endif -%}
{{return_type}} {{ function_name }}(
	{%- for parameter in parameters -%}
		{%- if loop.index0 > 0 %}, {% endif -%}
		{{- parameter.variable_type }} {{ parameter.symbol }}{% if parameter.default_value %} = {{ parameter.default_value }}{% endif -%}
	{%- endfor -%}
) {
{%- filter indent('\t') %}
{{ block }}
{%- endfilter %}
}
