{%- for decorator in decorators -%}
{{ decorator }}
{% endfor -%}
{{ access }}: {{ return_type }} {{ symbol }}(
	{%- for parameter in parameters -%}
		{%- if loop.index0 > 1 %}, {% endif -%}
		{%- if parameter != 'self' -%}
			{{- parameter -}}
		{%- endif -%}
	{%- endfor -%}
) {
{%- filter indent('\t') %}
{{ block }}
{%- endfilter %}
}
