{%- if decorators -%}
	{%- include 'decorator.j2' -%}
{%- endif -%}
{{access}}: {{return_type}} {{ function_name }}(
	{%- for parameter in parameters -%}
		{%- if loop.index0 > 1 %}, {% endif -%}
		{%- if parameter.symbol != 'self' -%}
			{{- parameter.var_type }} {{ parameter.symbol }}{% if parameter.default_value %} = {{ parameter.default_value }}{% endif -%}
		{%- endif -%}
	{%- endfor -%}
) {
{%- filter indent('\t') %}
{{ block }}
{%- endfilter %}
}
