{%- if comment %}{{ comment }}{% else %}/** {{ symbol }} */{% endif %}
{{- decorators | select('!=', '') | join('\n') }}
{%- if not template_types %}
{{ access }}: {{ return_type }} {{ symbol }}({{ parameters | select('!=', 'self') | join(', ') }}) {
{%- else %}
{{ access }}:
{%- for template_type in template_types %}
template<typename {{ template_type }}>
{%- endfor %}
{{ return_type }} {{ symbol }}({{ parameters | select('!=', 'self') | join(', ') }}) {
{%- endif %}
{%- filter indent('\t') %}
{%- for statement in statements %}
{{ statement }}
{%- endfor %}
{%- endfilter %}
}
