{# class.j2 #}
{% for variable in decl_variables %}
	{{ variable.variable_type }} {{ variable.symbol }};
{% endfor %}
{% set delimiter = '' %}
{% for decorator in decorators %}
{{ decorator.symbol }}{{ '(' }}{% for argument in decorator.arguments %}{{ delimiter }}{{ argument.value }}{% set delimiter = ', ' %}{% endfor %}{{ ')' }}
{% endfor %}
{% set delimiter = '' %}
class {{ class_name }}{% if parents %} : public {% for name in parents %}{{ delimiter }}{{ name }}{% set delimiter = ', ' %}{% endfor %}{% endif %} {{ '{' }}
	{{ block }}
{{ '}' }};

{# move_assign.j2 #}
{{ symbol }}{% if value %} = {{ value }}{% endif %};

{# anno_assign.j2 #}
{{ variable_type }}{{ symbol }}{% if value %} = {{ value }}{% endif %};

{# aug_assign.j2 #}
{{ symbol }} {{ operator }} {{ value }}{% endif %};

{# enum.j2 #}
enum class {{ enum_name }} {{ '{' }}
{% for variable in variables %}
	{{ variable.symbol }} = {{ variable.value }},
{% endfor %}
{{ '}' }};

{# constructor.j2 #}
{% set delimiter = '' %}
{{ access }}: {{ class_name }}{{ '(' }}{% for parameter in parameters %}{{ delimiter }}{{parameter.variable_type}} {{ parameter.symbol }}{% set delimiter = ', ' %}{% endfor %}{{ ')' }} {{ '{' }}
	{{ block }}
{{ '}' }}

{# import.j2 #}
#include "{{ module_path|replace('.', '/') }}.h"

{# dict.j2 #}
{{ '{' }}
{% for key, value in items.items() %}
	{{ '{' }}{{ key }}, {{ value }}{{ '}' }},
{% endfor %}
{{ '}' }};

{# list.j2 #}
{{ '{' }}
{% for value in values %}
	{{ value }},
{% endfor %}
{{ '}' }};
