{%- if move == 'ToAddress' -%}
(&({{ receiver }}))
{%- elif move == 'ToActual' -%}
(*({{ receiver }}))
{%- elif move == 'UnpackSp' -%}
({{ receiver }}).{{ i18n('cpp', 'shared_ptr.get') }}()
{%- else %}{# move == 'Copy' -#}
{{ receiver }}
{%- endif -%}
