{%- if accessor == 'Static' -%}
{{ receiver }}::{{ prop }}{% if is_property %}(){% endif %}
{%- elif accessor == 'Address' -%}
{{ receiver }}->{{ prop }}{% if is_property %}(){% endif %}
{%- else -%}
{{ receiver }}.{{ prop }}{% if is_property %}(){% endif %}
{%- endif -%}
