{%- if var_type == 'float' -%}
{{ i18n('cpp', 'string.ftoa') }}({{ arguments[0] }}){% if is_statement %};{% endif %}
{%- else -%}
{{ i18n('cpp', 'string.itoa') }}({{ arguments[0] }}){% if is_statement %};{% endif %}
{%- endif -%}
