{%- set smart_type = i18n('cpp', 'shared_ptr' if calls.startswith('CSP') else 'unique_ptr') -%}
{{ smart_type }}<{{ var_type }}>(new {{ var_type }}({{ initializer }})){% if is_statement %};{% endif %}
