{#- XXX 負の値の対応は、変数に代入された場合に対処できず、片手落ちとなるため非対応とする -#}
[&]() -> {{ var_type }} {
	{{ var_type }} __ret;
	int __index = 0;
	int __start = {% if keys[0] %}{{ keys[0] }}{% else %}0{% endif %};
	int __end = {% if keys[1] %}{{ keys[1] }}{% else %}{{ receiver }}.{{ i18n('cpp', 'container.size') }}(){% endif %};
	for (auto& __value : {{ receiver }}) {
		if (__index >= __start && __index < __end) {
			__ret.{{ i18n('classes', 'list.append') }}(__value);
		}
		__index++;
	}
	return __ret;
}()
