{#- XXX 負の値の対応は、変数に代入された場合に対処できず、片手落ちとなるため非対応とする -#}
[&]() -> {{ var_type }} {
	{{ var_type }} __ret;
	auto __begin = {{ receiver }}.{{ i18n('cpp', 'vector.begin') }}() + {{ keys[0] if keys[0] else '0' }};
	auto __end = __begin + {{ keys[1] if keys[1] else receiver + '.' + i18n('cpp', 'container.size') + '()' }};
	for (auto __iter = __begin; __iter < __end; __iter += {{ keys[2] if keys[2] else '1' }}) {
		__ret.{{ i18n('classes', 'list.append') }}(__value);
	}
	return __ret;
}(){% if is_statement %};{% endif %}
