{%- set _inherits = namespace(at=[]) -%}
{%- set deco_ignore = deco_query.any('Embed.ignore') -%}
{%- if not deco_ignore -%}
	{%- set _inherits.at = inherits -%}
{%- else -%}
	{%- set ignore_classes = deco_ignore[0].args.values() -%}
	{%- for inherit in inherits -%}
		{%- if inherit not in ignore_classes -%}
			{%- set _inherits.at = _inherits.at + [inherit] -%}
		{%- endif -%}
	{%- endfor -%}
{%- endif -%}
{%- if (_inherits.at | length) > 0 %} : public {{ _inherits.at | join(', public ') }}{% endif -%}
