{%- if decorator_query(decorators).contains('Embed.python') -%}
// class {{ symbol }}
{%- else -%}
{%- include('class/_accessor.j2') %}
{%- include('class/_comment.j2') %}
{%- include('class/_prepare.j2') %}
{%- include('class/_template_types.j2') %}
{% include('class/_classify.j2') %} {{ symbol }}{% include('class/_inherits.j2') %} {
{%- include('class/_before.j2') %}
{%- include('class/_statements.j2') %}
{%- include('class/_after.j2') %}
};
{%- endif -%}
