{%- include('class/_comment.j2') %}
{%- include('class/_decorator.j2') %}
{%- include('class/_template_types.j2') %}
{% include('class/_classify.j2') %} {{ symbol }}{% include('class/_inherits.j2') %} {
{%- include('class/_vars.j2') %}
{%- include('class/_statements.j2') %}
};
