{%- set deco_query = parse_decorators(decorators) -%}
{%- if deco_query.contains('Embed.python') -%}
// enum {{ symbol }}
{%- else -%}
{%- include('class/_comment.j2') %}
{%- include('class/_decorators.j2') %}
{% include('class/_definition_enum.j2') %} {
{%- include('class/_statements_enum.j2') %}
};
{%- endif -%}
