{%- if values | length() == 0 -%}{}
{%- elif values | length() == 1 -%}{{ '{' }}{{ values[0] }}{{ '}' }}
{%- else -%}
{
{%- for value in values %}
	{{ '' if value[0] == '{' else '{' }}{{ value }}{{ '' if value[-1] == '}' else '}' }},
{%- endfor %}
}
{%- endif %}
