for (auto {{ symbol }} = {{ begin }}; {{ symbol }} < {{ size }}; {{ symbol }} += {{ step }}) {
{%- filter indent('\t') %}
{%- for statement in statements %}
{{ statement }}
{%- endfor %}
{%- endfilter %}
}
