{%- if target.type == 'list' -%}
{{ target.receiver }}.{{ i18n('classes', 'list.remove') }}({{ target.receiver }}.{{ i18n('cpp', 'vector.begin') }}() + {{ target.key }})
{%- elif target.type == 'dict' -%}
{{ target.receiver }}.{{ i18n('cpp', 'map.erase') }}({{ target.key }})
{%- else -%}
delete {{ target.receiver }}
{%- endif %}
