{%- if deco_query.contains('Embed.struct') -%}
struct
{%- elif deco_query.contains('Embed.union') -%}
union
{%- elif deco_query.contains('Embed.namespace') -%}
namespace
{%- else -%}
class
{%- endif -%}
