{%- set _inherits = namespace(at=[]) -%}
{%- if not deco_ignore -%}
	{%- set _inherits.at = inherits -%}
{%- else -%}
	{%- for inherit in inherits -%}
		{%- if not deco_ignore.any_args(inherit) -%}
			{%- set _inherits.at = _inherits.at + [inherit] -%}
		{%- endif -%}
	{%- endfor -%}
{%- endif -%}
{%- if (_inherits.at | length) > 0 %} : public {{ _inherits.at | join(', public ') }}{% endif -%}
