{%- if cvar_type == 'CUP' -%}
{{ i18n('cpp', 'unique_ptr') }}<{{ var_type }}>(){% if is_statement %};{% endif %}
{%- else -%}
{{ i18n('cpp', 'shared_ptr') }}<{{ var_type }}>(){% if is_statement %};{% endif %}
{%- endif -%}
