[&]() -> {{ i18n('classes', 'list') }}<{{ var_type }}> {
	{{ i18n('classes', 'list') }}<{{ var_type }}> __ret;
	for (auto& [_, __value] : {{ receiver }}) {
		__ret.{{ i18n('classes', 'list.append') }}(__value);
	}
	return __ret;
}(){% if is_statement %};{% endif %}
