{{ receiver }}{{ operator }}{{ i18n('classes', 'list.insert') }}({{ receiver }}{{ operator }}{{ i18n('cpp', 'vector.begin') }}() + {{ arguments[0] }}, {{ arguments[1] }}){% if is_statement %};{% endif %}
