{%- set decos = decorator_query(decorators) -%}
{%- if decos.contains('Embed.private') -%}
{{ i18n('lang', 'accessor.private') }}
{%- elif decos.contains('Embed.protected') -%}
{{ i18n('lang', 'accessor.protected') }}
{%- elif decos.contains('Embed.public') -%}
{{ i18n('lang', 'accessor.public') }}
{%- else -%}
{{ accessor }}
{%- endif -%}
