{%- if decorators | select('==', 'Embed::private') | list -%}
private
{%- elif decorators | select('==', 'Embed::protected') | list -%}
protected
{%- elif decorators | select('==', 'Embed::public') | list -%}
public
{%- else -%}
{{ accessor }}
{%- endif -%}
