{%- set decos = decorator_query(decorators) -%}
{%- if decos.contains('Embed.private') -%}
private
{%- elif decos.contains('Embed.protected') -%}
protected
{%- elif decos.contains('Embed.public') -%}
public
{%- else -%}
{{ accessor }}
{%- endif -%}
