{%- if template_types %}
{%- for template_type in template_types %}
template<typename {{ template_type }}>
{%- endfor %}
{%- endif %}
{%- if decorators %}
{%- for decorator in decorators %}
{{ decorator }}
{%- endfor %}
{%- endif %}
