{%- if is_property %}{{ i18n('lang', 'inline') }} {% endif %}{{ return_type }} {{ symbol }}({% include('function/_definition_params.j2') %}){% if is_pure %} const{% endif %}{% if is_override %} override{% endif %}
