{%- set param = parameter_parse(parameter) -%}
{%- if param.var_type.startswith('const') or param.var_type[-1] in ['*', '&'] -%}
	{{- parameter -}}
{%- else -%}
	{%- set annotations = decorator_query(decorators).any('Embed.param').any_args('"' + param.symbol + '"') -%}
	{%- set annotated = annotations | length > 0 -%}
	{%- set mutable = (annotations.any_args('true') | length) > 0 -%}
	{%- set immutable_type = param.var_type_origin in env_get('immutable_param_types', []) -%}
	{%- set immutable = (annotated and not mutable) or (not annotated and immutable_type) -%}
	{%- if immutable -%}
		{%- set parameter_of_immutable = 'const ' + param.var_type + '& ' + param.symbol + (' = ' + param.default_value if param.default_value else '') -%}
		{{- parameter_of_immutable -}}
	{%- else -%}
		{{- parameter -}}
	{%- endif -%}
{%- endif -%}
