{%- if is_property %}{{ i18n('lang', 'inline') }} {% endif %}{% include('function/_return_type.j2') %} {{ symbol }}({% include('function/_definition_params.j2') %}){% if is_pure %} const{% endif %}{% if is_override %} override{% endif %}
