{%- set _parameters = parameters | select('!=', 'cls') | select('!=', 'self') -%}
{%- set is_const = decorators | select('==', 'Embed::pure') | list | length > 0 -%}
{{- return_type }} {{ symbol }}({{ _parameters | join(', ') -}}){% if is_const %} const{% endif %}{% if is_override %} override{% endif %}
