{%- set list_class = i18n('classes', 'list') + return_type[('Iterator' | length):] -%}
{%- set list_iter_class = list_class + '::' + i18n('cpp', 'vector.iterator') -%}
{{ list_iter_class }} {{ symbol }}() {
{%- for statement in statements %}
{%- if statement.startswith('return iter(') %}
	return {{ statement[('return iter(' | length):-2] }}.begin();
{%- elif statement %}
	{{ statement }}
{%- endif %}
{%- endfor %}
}
