{%- if symbol == '__iter__' %}
{% include('function/_iterator_list.j2') %}
{%- elif return_type.startswith('ItemsView') %}
{% include('function/_iterator_dict.j2') %}
{%- else %}
{% include('function/_signature_prefix.j2') %}{% include('function/_signature_common.j2') %}{% include('function/_signature_suffix.j2') %} {% include('function/_block.j2') %}
{%- endif %}
