{{ access }}:
{% include('function/_comment.j2') %}
{%- include('function/_template_types.j2') %}
{%- include('function/_decorators.j2') %}
static {{ return_type }} {{ symbol }}({{ parameters | select('!=', 'cls') | join(', ') }}) {% include('function/_block.j2') -%}
