{%- set deco_bind = decorator_query(decorators).find('Embed.closure_bind') -%}
{%- if deco_bind -%}
auto {{ symbol }} = [{{ deco_bind.args.values() | join(', ') }}]({{ parameters | join(', ') }}) mutable -> {{ return_type }} {% include('function/_block.j2') %};
{%- else -%}
auto {{ symbol }} = [&]({{ parameters | join(', ') }}) -> {{ return_type }} {% include('function/_block.j2') %};
{%- endif -%}
