{%- set deco_binds = decorator_query(decorators).any('Embed.closure_bind') -%}
{%- if deco_binds -%}
auto {{ symbol }} = [{{ deco_binds[0].args.values() | join(', ') }}]({{ parameters | join(', ') }}) mutable -> {{ return_type }} {% include('function/_block.j2') %};
{%- else -%}
auto {{ symbol }} = [&]({{ parameters | join(', ') }}) -> {{ return_type }} {% include('function/_block.j2') %};
{%- endif -%}
