{% include('function/_comment.j2') %}
{%- include('function/_template_types.j2') %}
{%- include('function/_decorators.j2') %}
{{ return_type }} {{ symbol }}({{ parameters | join(', ') }}) {% include('function/_block.j2') %}
