{%- set deco_query = parse_decorators(decorators) -%}
{%- if deco_query.contains('Embed.python') -%}
// function {{ symbol }}
{%- else -%}
{% include('function/_comment.j2') %}
{%- include('function/_template_types.j2') %}
{%- include('function/_decorators.j2') %}
{% include('function/_signature_common.j2') %} {% include('function/_block.j2') %}
{%- endif -%}
