{{ access }}:
{% include('function/_comment.j2') %}
{%- include('function/_template_types.j2') %}
{%- include('function/_decorators.j2') %}
{% if is_abstract or allow_override %}virtual {% endif -%}
{{ return_type }} {{ symbol }}({{ parameters | select('!=', 'self') | join(', ') }}){{ '' -}}
{% if not is_abstract %} {% include('function/_block.j2') %}{% else %};{% endif -%}
