{%- if operator == 'in' and right_is_dict -%}
{{ right }}.{{ i18n_classes('dict.contains') }}({{ left }})
{%- elif operator == 'not.in' and right_is_dict -%}
(!{{ right }}.{{ i18n_classes('dict.contains') }}({{ left }}))
{%- elif operator == 'in' and not right_is_dict -%}
(std::find({{ right }}.{{ i18n_classes('list.iter_begin') }}(), {{ right }}.{{ i18n_classes('list.iter_end') }}(), {{ left }}) != {{ right }}.{{ i18n_classes('list.iter_end') }}())
{%- elif operator == 'not.in' and not right_is_dict -%}
(std::find({{ right }}.{{ i18n_classes('list.iter_begin') }}(), {{ right }}.{{ i18n_classes('list.iter_end') }}(), {{ left }}) == {{ right }}.{{ i18n_classes('list.iter_end') }}())
{%- elif operator == 'is' -%}
{{ left }} == {{ right }}
{%- elif operator == 'is.not' -%}
{{ left }} != {{ right }}
{%- elif operator == 'and' -%}
{{ left }} && {{ right }}
{%- elif operator == 'or' -%}
{{ left }} || {{ right }}
{%- else -%}
{{ left }} {{ operator }} {{ right }}
{%- endif -%}
