{%- if operator == 'is' -%}
{{ left }} == {{ right }}
{%- elif operator == 'is.not' -%}
{{ left }} != {{ right }}
{%- elif operator == 'and' -%}
{{ left }} && {{ right }}
{%- elif operator == 'or' -%}
{{ left }} || {{ right }}
{%- else -%}
{{ left }} {{ operator }} {{ right }}
{%- endif -%}
