{%- set _inherits = inherits | select('!=', 'CObject') | list %}

{%- if comment %}{{ comment }}{% else %}/** {{ symbol }} */{% endif %}
{%- for decorator in decorators | select('!=', '') %}
{{ decorator }}
{%- endfor %}
{%- for template_type in template_types %}
template<typename {{ template_type }}>
{%- endfor %}
class {{ symbol }}{%- if _inherits %} : public {{ _inherits | join(', ') }}{%- endif %} {
{%- if vars -%}
{%- for var in vars %}
	{{ var }}
{%- endfor -%}
{%- endif %}
{%- filter indent('\t') %}
{%- for statement in statements %}
{{ statement }}
{%- endfor %}
{%- endfilter %}
};
