{%- if comment %}{{ comment }}{% else %}/** {{ symbol }} */{% endif %}
{%- for decorator in decorators | select('!=', '') %}
{{ decorator }}
{%- endfor %}
{%- if template_types %}
{{ access }}:
{%- for template_type in template_types %}
template<typename {{ template_type }}>
{%- endfor %}
{%- endif %}
{% if not template_types -%}
{{ access }}:{{ ' ' -}}
{% endif -%}
static {{ return_type }} {{ symbol }}({{ parameters | select('!=', 'cls') | join(', ') }}) {% include('function_block.j2') -%}
