{%- if symbols | length == 1 -%}
{% if is_const %}const {% endif %}auto{% if not is_addr_p %}&{% endif %} {{ symbols[0] }} : {{ iterates }}
{%- else -%}
{% if is_const %}const {% endif %}auto{% if not is_addr_p %}&{% endif %} [{{ symbols | join(', ') }}] : {{ iterates }}
{%- endif -%}
