{%- if symbols | length == 1 -%}
{% if is_const %}const {% endif %}auto& {{ symbols[0] }} : {{ iterates }}
{%- else -%}
{% if is_const %}const {% endif %}auto& [{{ symbols | join(', ') }}] : {{ iterates }}
{%- endif -%}
