{%- if comment %}{{ comment }}{% else %}/** Constructor */{% endif %}
{%- set _decorators = decorators | select('!=', '') | join('\n') %}
{%- if _decorators or template_types %}
{{ access }}:
{%- include('function_attributes.j2') %}
{%- endif %}
{% if not (_decorators or template_types) %}{{ access }}: {% endif -%}
{% if is_abstract or allow_override %}virtual {% endif -%}
{{ class_symbol }}({{ parameters | select('!=', 'self') | join(', ') }}){% include('constructor_initializer.j2') -%}
{% if not is_abstract %} {% include('function_block.j2') %}{% else %};{% endif -%}
