[{% if binded_this %}this, {% endif %}&]() -> {{ i18n('classes', 'dict') }}<{{ projection_types[0] }}, {{ projection_types[1] }}> {
	{{ i18n('classes', 'dict') }}<{{ projection_types[0] }}, {{ projection_types[1] }}> __ret;
	for ({{ comp_for }}) {
		{#- XXX 期待値: 'auto& [key, value] : iterates' #}
		{%- set _key, _value = reg_match('auto&? \\[([^,]+), (.+)\\] : .+', comp_for).group(1, 2) %}
		{%- if condition %}
		if ({{ condition }}) {
			__ret[{{ _key }}] = {{ _value }};
		}
		{%- else %}
		__ret[{{ _key }}] = {{ _value }};
		{%- endif %}
	}
	return __ret;
}()
