[{% if binded_this %}this, {% endif %}&]() -> {{ i18n_classes('dict') }}<{{ projection_types[0] }}, {{ projection_types[1] }}> {
	{{ i18n_classes('dict') }}<{{ projection_types[0] }}, {{ projection_types[1] }}> __ret;
	for ({{ comp_for }}) {
		{%- if condition %}
		if ({{ condition }}) {
			__ret.{{ i18n_classes('dict.append') }}({{ projection }});
		}
		{%- else %}
		__ret.{{ i18n_classes('dict.append') }}({{ projection }});
		{%- endif %}
	}
	return __ret;
}()
