{%- if comment %}{{ comment }}{% else %}/** {{ symbol }} */{% endif %}
{%- for decorator in decorators | select('!=', '') %}
{{ decorator }}
{%- endfor %}
{%- for template_type in template_types %}
template<typename {{ template_type }}>
{%- endfor %}
{{ return_type }} {{ symbol }}({{ parameters | join(', ') }}) {% include('function_block.j2') %}
