[&]() -> {{ var_type }} {
	auto __iter = {{ receiver }}.{% if arguments %}{{ i18n_cpp('vector.begin') }}() + {{ arguments[0] }}{% else %}{{ i18n_cpp('vector.end') }}() - 1{% endif %};
	auto __copy = *__iter;
	{{ receiver }}.{{ i18n_cpp('vector.erase') }}(__iter);
	return __copy;
}(){% if is_statement %};{% endif %}
