{%- if comment %}{{ comment }}{% else %}/** {{ symbol }} */{% endif %}
{%- set _decorators = decorators | select('!=', '') | join('\n') %}
{%- if _decorators or template_types %}
{%- include('function_attributes.j2') %}
{%- endif %}
{{ return_type }} {{ symbol }}({{ parameters | join(', ') }}) {% include('function_block.j2') %}
