{%- if import_dir -%}
#include "{{ module_path | replace('.', '/') | replace(import_dir, replace_dir) }}.h"
{%- else -%}
{{ i18n('lang', 'comment.line') }} #include "{{ module_path | replace('.', '/') }}.h"
{%- endif -%}
