{%- if expression and var_type != 'void' -%}
[{{ binds | join(', ') }}]({{ params | join(', ') }}){% if binds %} mutable{% endif %} -> {{ var_type }} { return {{ expression }}; }
{%- elif expression and var_type == 'void' -%}
[{{ binds | join(', ') }}]({{ params | join(', ') }}){% if binds %} mutable{% endif %} -> {{ var_type }} { {{ expression }}; }
{%- else -%}
[{{ binds | join(', ') }}]({{ params | join(', ') }}){% if binds %} mutable{% endif %} -> {{ var_type }} {}
{%- endif -%}
