{%- if var_type.startswith('CP<') -%}
{{ var_type[3:-1] }}*
{%- elif var_type.startswith('CSP<') -%}
{{ i18n('cpp', 'shared_ptr') }}<{{ var_type[4:-1] }}>
{%- elif var_type.startswith('CRef<') -%}
{{ var_type[5:-1] }}&
{%- elif var_type.startswith('CPConst<') -%}
const {{ var_type[8:-1] }}*
{%- elif var_type.startswith('CSPConst<') -%}
const {{ i18n('cpp', 'shared_ptr') }}<{{ var_type[9:-1] }}>
{%- elif var_type.startswith('CRefConst<') -%}
const {{ var_type[10:-1] }}&
{%- elif var_type.startswith('CRawConst<') -%}
const {{ var_type[10:-1] }}
{%- else -%}
{{ var_type }}
{%- endif -%}
