{%- if deco_query.contains('Embed.private') -%}
{{ i18n('lang', 'accessor.private') }}
{%- elif deco_query.contains('Embed.protected') -%}
{{ i18n('lang', 'accessor.protected') }}
{%- elif deco_query.contains('Embed.public') -%}
{{ i18n('lang', 'accessor.public') }}
{%- else -%}
{{ accessor }}
{%- endif -%}
