{%- set begin, iterates, index, increment, get_size, get_value = break_iterator_list_complex(statements) -%}
struct Iterator_{{ symbol }} {
	const {{ iterates_type }}& {{ iterates }};
	int {{ index }};
	Iterator_{{ symbol }}(const {{ iterates_type }}& {{ iterates }}, int {{ index }}) : {{ iterates }}({{ iterates }}), {{ index }}({{ index }}) {}
	bool operator!=(const Iterator_{{ symbol }}& other) const { return this->{{ index }} != other.{{ index }}; }
	void operator++() { {{ increment }}; }
	const {{ return_type[('Iterator<' | length):-1] }}& operator*() const { return {{ get_value }}; }
	Iterator_{{ symbol }} begin() const { return {this->{{ iterates }}, 0}; }
	Iterator_{{ symbol }} end() const { return {this->{{ iterates }}, {{ get_size }}}; }
};
Iterator_{{ symbol }} {{ symbol }}() {
	{%- for i in range(begin) %}
	{{ statements[i] }}
	{%- endfor %}
	return {this->{{ iterates }}, 0};
}
