{%- set deco_query = parse_decorators(decorators) -%}
{% include('function/_accessor.j2') %}:
{% include('function/_comment.j2') %}
{%- include('function/_template_types.j2') %}
{%- include('function/_decorators.j2') %}
{%- if is_abstract %}
{% include('function/_signature_prefix.j2') %}{% include('function/_signature_constructor.j2') %} = default;
{%- else %}
{% include('function/_signature_prefix.j2') %}{% include('function/_signature_constructor.j2') %} {% include('function/_block.j2') %}
{%- endif %}
