{%- set deco_query = parse_decorators(decorators) -%}
{%- if deco_query.contains('Embed.python') -%}
// method {{ symbol }}
{%- else -%}
{% include('function/_accessor.j2') %}:
{% include('function/_comment.j2') %}
{%- include('function/_template_types.j2') %}
{%- include('function/_decorators.j2') %}
{%- include('function/_method_body.j2') %}
{%- endif -%}
