{%- if expression and return_type != 'void' -%}
[{{ binds | join(', ') }}]({% include('lambda/_lambda_params.j2') %}){% if binds %} mutable{% endif %} -> {{ return_type }} { return {{ expression }}; }
{%- elif expression and return_type == 'void' -%}
[{{ binds | join(', ') }}]({% include('lambda/_lambda_params.j2') %}){% if binds %} mutable{% endif %} -> {{ return_type }} { {{ expression }}; }
{%- else -%}
[{{ binds | join(', ') }}]({% include('lambda/_lambda_params.j2') %}){% if binds %} mutable{% endif %} -> {{ return_type }} {}
{%- endif -%}
