/**
{%- for line in data.description.split('\n') %}
 *{% if line %} {{ line }}{% endif %}
{%- endfor %}
{%- for arg in data.args %}
 * @param {{ arg.name }} {{ arg.description }}
{%- endfor %}
{%- if data.returns.description %}
 * @return {{ data.returns.description }}
{%- endif %}
{%- for r in data.raises %}
 * @throw {{ r.type }} {{ r.description }}
{%- endfor %}
{%- if data.note %}
{%- if data.note.find('\n') != -1 %}
 * @note
{%- for line in data.note.split('\n') %}
 * {{ line }}
{%- endfor %}
{%- else %}
 * @note {{ data.note }}
{%- endif %}
{%- endif %}
{%- if data.examples %}
{%- if data.examples.find('\n') != -1 %}
 * @example
{%- for line in data.examples.split('\n') %}
 * {{ line }}
{%- endfor %}
{%- else %}
 * @example {{ data.examples }}
{%- endif %}
{%- endif %}
 */
